<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editoras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Biblioteca</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/livros/">Livros</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/reserva/">Reserva</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/cidade/">Cidade</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/autor/">Autor</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/editor/">Editora</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/genero/">Genero</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/leitor/">Leitor</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/admin/">Administração</a></li>
            </ul>
        </div>
    </nav>
<div class="container mt-5">
    <h2 class="mb-4">Tabela de Editoras</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Site</th>
                <th scope="col">Cidade</th>
            </tr>
        </thead>
        <tbody>
            {% for editora in editoras %}
            <tr>
                <td>{{ editora.nome }}</td>
                <td><a href="{{ editora.site }}" target="_blank">{{ editora.site }}</a></td>
                <td>{{ editora.cidade.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>